@import url(https://fonts.googleapis.com/css?family=Poiret+One);

$font: 'Poiret One', cursive;
$white: #ffffffff;
$black-coffee: #342e37ff;
$blue-green: #07a0c3ff;
$rusty-red: #de3c4bff;
$french-raspberry: #c42847ff;
