@import '../variables';

.comments_board {
    max-width: 1400px;
    min-width: 300px;
    overflow: hidden;
    // // align-self: center;
    // .social_card_body {
    //     padding: 10px 20px;
    //     > div {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         p {
    //             font-weight: bold;
    //             span {
    //                 display: block;
    //                 padding: 5px;
    //                 font-weight: 300;
    //                 font-size: 0.8rem;
    //                 color: $white;
    //             }
    //         }
    //         img {
    //             max-width: 50px;
    //             border-radius: 100%;
    //         }
    //     }
    //     .social_interactions {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         p {
    //             display: flex;
    //             align-items: center;
    //             cursor: pointer;
    //             img {
    //                 width: 20px;
    //                 padding: 5px;
    //                 opacity: 0.3;
    //             }
    //         }
    //     }
    // }
}
